<div class="article" id="article-show" data-article_id= "<%= @article.id %>">
    <% if @article.eyecatch.attached? %>
    <div class="article_image">
        <%= image_tag @article.eyecatch %>
    </div>
    <% end %>
    <h1 class="article_title">
        <%= @article.title %>
    </h1>
    <div class="article_detail">
        <%= link_to account_path(@article.user) do %>
            <%= image_tag @article.user.avatar_image %>
        <% end %>
        <div>
            <p>
                <%= @article.author_name %>
            </p>
            <p>
                <%= @article.display_created_at %>
            </p>
            <% if user_signed_in? && current_user.has_written?(@article) %>
            <div class="article_detail_actions">
                <div class="dropdown">
                    <%= image_tag 'actions.svg', class: 'dropbtn' %>
                    <div class="dropdown-content mini">
                        <%= link_to 'Edit', edit_article_path(@article)%>
                        <%= link_to 'Delete', article_path(@article), data: {method: 'delete', confirm: 'Are you sure you want to delete this article ?'} %>
                    </div>
                </div>
            </div>
            <% end %>
        </div>
    </div>
    <div class="article_content">
        <%= @article.content %>
        <% if user_signed_in? %>
        ` <%  if current_user.has_liked?(@article) %>
            <div class="article_heart">
                <%= link_to article_like_path(@article), data: {method: 'delete'} do %>
                    <%= image_tag 'heart-active.svg' %>
                <% end %>
            </div>
            <% else %>
            <div class="article_heart">
                <%= link_to article_like_path(@article), data: {method: 'post'} do %>
                    <%= image_tag 'heart.svg' %>
                <% end %>
            </div>
            <% end %>
            <% else %>
            <div class="article_heart">
                You must log in before like this article
            </div>
        <% end %>
    </div>
</div>

<div class="article">
    <h2>List comments</h2>
    <% @comments.each do |comment| %>
        <div class="article_comment">
            <p>
                <%= comment.content %>
            </p>
        </div>
    <% end %>
<div>

<div class="container">
    <%= link_to new_article_comment_path(@article) do %>
        <div class="btn-secondar">
            Add a comment
        </div>
    <% end %>
<div>
