<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
  </head>

  <body>
    <header class="header">
        <div class="header_logos">
            <% if !current_page?(root_path) %>
            <%= link_to :back do %>
                <%= image_tag 'back.svg', class: 'header_back' %>
            <% end %>
            <% end %>
            <p class="header_pageTitle">
                <%= link_to 'Blog', root_path %>
            </p>
        </div>
        <% if user_signed_in? %>
        <div class="dropdown">
            <%= image_tag current_user.avatar_image, class: 'header_avatar dropbtn' %>
            <div class = "dropdown-content">
                <%= link_to 'Profile', profile_path %>
                <%= link_to "Change your password", edit_user_registration_path %>
                <%= link_to 'Favorite Articles', favorites_path %>
                <%= link_to 'Log out', destroy_user_session_path, data: {method: 'delete'} %>
            </div>
        </div>
        <% else %>
            <%= link_to 'Log in', new_user_session_path, class: 'header_loginBtn' %>
        <% end %>
    </header>
    <% if flash.present? %>
        <div class="flash">
            <% flash.each do |key, value| %>
            <div class="<%= key %>">
                <%= value %>
            </div>
            <% end %>
        </div>
    <% end %>
    <%= yield %>
  </body>
</html>
